<div class="main_header">
    <div class="row w-100 h-100">
        <div class="col-lg-5 col-md-5 col-12 order-lg-1 order-2">
            <div class="leftside w-100 h-100 d-flex justify-content-center align-items-center">
                <img src="../../assets/corona/people.png">
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-12 order-lg-2 order-1">
            <div class="right_side text-capitalize w-100 h-100 d-flex justify-content-center align-items-center">
                <h1>Let's Stay Safe & Fight together <br> against cor<span class="coronalogo">
                        <img src="../../assets/corona/Corona logo1.png" id="logo">
                    </span>na virus</h1>
            </div>
        </div>

    </div>
</div>

<!-- ********corona latest updata********* -->

<section class="corona_update">
    <div class="mb-3">
        <div class="text-uppercase text-center mb-5" style="font-size: 35px; color: red;">
            Covid-19 Updates
        </div>
    </div>
    <div class="d-flex justify-content-around align-items-center text-capitalize">
        <div>
            <h1 class="count" *ngIf="checkcon">{{worldData.TotalConfirmed}}</h1>
            <h2>World COVID-19 Patients</h2>
        </div>
        <div>
            <h1 class="count" *ngIf="checkcon">{{worldData.TotalRecovered}}</h1>
            <h2>Total Recovered Patients</h2>
        </div>
        <div>
            <h1 class="count" *ngIf="checkcon">{{worldData.TotalDeaths}}</h1>
            <h2>Total Death Patients</h2>
        </div>
        <div>
            <h1 class="count" *ngIf="checkcon">{{worldData.NewConfirmed}}</h1>
            <h2>Today Confirmed Cases</h2>
        </div>
    </div>
</section>

<!-- *********about scection*********** -->

<div class="container-fluid sub_section pt-5 pb-5" id="aboutid">
    <div class="section_header text-center mb-5 mt-2">
        <h1>About COVID-19</h1>
    </div>
    <div class="row pt-3">
        <div class="col-lg-5 col-md-6 col-12 ml-5">
            <img src="../../assets/corona/coronaintro.png" class="img-fluid">
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <h2>What is COVID-19 (Corona-Virus)</h2>
            <p>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus</p>
            <p>Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and
                recover without requiring special treatment. Older people, and those with underlying medical problems
                like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to
                develop serious illness</p>
            <p>The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an
                infected person coughs or sneezes, so it’s important that you also practice respiratory etiquette (for
                example, by coughing into a flexed elbow).</p>
        </div>
    </div>
</div>


<!-- ******Symptoms Section************* -->
<div class="container-fluid pt-5 pb-5" id="aboutid">
    <div class="section_header text-center mb-5 mt-2">
        <h1>CoronaVirus Symptoms</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12 mt-5">
                <figure class="text-center">
                    <img src="../../assets/corona/cough.png"
                        width="120px" height="120px">
                    <figcaption>Cough</figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-4 col-12 mt-5">
                <figure class="text-center">
                    <img src="../../assets/corona/runny nose.png" width="120px" height="120px">
                    <figcaption>Runny Nose</figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-4 col-12 mt-5">
                <figure class="text-center">
                    <img src="../../assets/corona/fever.png" width="120px" height="120px">
                    <figcaption>Fever</figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-4 col-12 mt-5">
                <figure class="text-center">
                    <img src="../../assets/corona/cold.png" width="120px" height="120px">
                    <figcaption>Cold</figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-4 col-12 mt-5">
                <figure class="text-center">
                    <img src="../../assets/corona/tired.jpg" width="120px" height="120px">
                    <figcaption>TiredNess</figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-4 col-12 mt-5">
                <figure class="text-center">
                    <img src="../../assets/corona/breadh.png" width="120px" height="120px">
                    <figcaption>Difficulty breathing</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>


<!-- Prevension against coronavireus -->
<div class="container-fluid sub_section pt-5 pb-5 text-capitalize" id="aboutid">
    <div class="section_header text-center mb-5 mt-2">
        <h1 class="">6 steps prevention against coronavirus</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-12">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-12">
                        <figure class="text-center">
                            <img src="../../assets/corona/wash.png" width="90px" height="90px">
                        </figure>
                    </div>
                    <div class="col-md-8 col-lg-8 col-12">
                        <p>Wash your hands regularly for 20 seconds, with soap and water or alcohol-based hand rub</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-12">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-12">
                        <figure class="text-center">
                            <img src="../../assets/corona/nose-cover.png" width="90px" height="90px">
                        </figure>
                    </div>
                    <div class="col-md-8 col-lg-8 col-12">
                        <p>Cover your nose and mouth with a disposable tissue or flexed elbow when you cough or sneeze
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-12">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-12">
                        <figure class="text-center">
                            <img src="../../assets/corona/avoid-con.png" width="90px" height="90px">
                        </figure>
                    </div>
                    <div class="col-md-8 col-lg-8 col-12">
                        <p>Avoid close contact (1 meter or 3 feet) with people who are unwell</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-12 mt-5">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-12">
                        <figure class="text-center">
                            <img src="../../assets/corona/stay-home.png" width="90px" height="90px">
                        </figure>
                    </div>
                    <div class="col-md-8 col-lg-8 col-12">
                        <p>Stay home and self-isolate from others in the household if you feel unwell</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-12 mt-5">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-12">
                        <figure class="text-center">
                            <img src="../../assets/corona/watch-tv.png" width="90px" height="90px">
                        </figure>
                    </div>
                    <div class="col-md-8 col-lg-8 col-12">
                        <p>stay informed by watching the news and follow recommended practices</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-12 mt-5">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-12">
                        <figure class="text-center">
                            <img src="../../assets/corona/fever.png" width="90px" height="90px">
                        </figure>
                    </div>
                    <div class="col-md-8 col-lg-8 col-12">
                        <p>if you have fever,cough and difficulty breathing seek medical care only</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ****top button***** -->

<button id="myBtn" title="Go to top" (click)="topFunction()">Top</button>
<!-- *********footer****** -->
<footer class="mt-5">
    <!-- <p>copyright by Shubham</p> -->
    <div class="footer_style  text-center container-fluid">
        <p>&copy;copyright by Shubham</p>
    </div>
</footer>